ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="ffff", ATTRS{idProduct}=="014e", MODE="660", GROUP=="plugdev", RUN+="sudo python /home/pi/beeconnect/beeconnect/examples/flash_launch.py /home/pi/beeconnect/firmware/beeconnect_v0.1.bin"
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="29c9", ATTRS{idProduct}=="0001", MODE="660", GROUP=="plugdev", RUN+="sudo python /home/pi/beeconnect/beeconnect/examples/flash_launch.py /home/pi/beeconnect/firmware/beeconnect_v0.1.bin"
